*{
    margin: 0;
    padding: 0;
}

.footerr{
    position: relative;
    margin: 10px 0px;
}

.footerr p{
    color: #ffffff;
    text-align: center;
    margin: auto;
    position: relative;
    left: 10rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

   .footerr p{
    position: relative;
    right: 20rem;
}
   
}
 
@media only screen and (max-width:550px) {
    
    .footerr p{
        left: 2rem;
        font-size: 16px;
    }
}