*{
    margin: 0;
    padding: 0;
}

.bgbody{
    background-image: url(../components/images/ap2.png);
    background-size: cover;
    background-attachment: fixed;
    /* height: calc(100vh - 132px); */
}

.wrapper{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 400px;
    height: 200px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #0081CF;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
  }
  .content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
  }
  .cn:hover{
    background-color: #fff;
  }
  .content span{
    color: #0081CF;
    font-size: 60px;
    font-weight: bold;
  } 
  .bg .cn{
    width: 140px;
    height: 40px;
    background: #0081CF;
    border: none;
    margin-top: 5px;
    font-size: 18px;
    border-radius: 20em;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
  }
  .bg .cn:hover{
    background: #fff;
    color: #0081CF;
  }
  .bg .cn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }